.card3d{
  display: flex;
  align-items: center;
  box-shadow: 0px 1.83914px 3.67827px rgba(0, 0, 0, 0.16);
  border-radius: 14px;
  overflow: hidden;
  &.orange{
    background: linear-gradient(212.86deg, rgba(245, 179, 106, 0.8) 6.22%, rgba(235, 73, 90, 0.9628) 94.91%);
  }
  &.pink{
    background: linear-gradient(212.86deg, rgba(242, 99, 146, 0.7) 6.22%, rgba(218, 78, 224, 0.96) 94.91%);
  }

  .illustration{
    img{
      width:100%;
    }
  }

  .info{
    .title{
      color: #FFFFFF;
      margin-bottom: 12px;
    }
    .description{
      color: #FFFFFF;
      margin-bottom: 35px;
    }
    .link{
      color: #FFFFFF;
      display: flex;
      align-items: center;
      img{
        padding: 5px 8px;
      }
    }
  }
}