@import '../../../assets/scss/utils/Mixins.scss';

.card3d{
  box-shadow: 0px 1.83914px 3.67827px rgba(0, 0, 0, 0.16);
  border-radius: 14px;
  overflow: hidden;
  aspect-ratio: 343 / 214;
  @include media-breakpoint-down(md){
    aspect-ratio: unset;
  }
  @include media-breakpoint-down(xs){
    //aspect-ratio: 343 / 214;
    height: 240px;
  }
  &.orange{
    background: #FF2D55;
    .card3d-content{
      background: linear-gradient(212.86deg, rgba(245, 179, 106, 0.8) 6.22%, rgba(235, 73, 90, 0.9628) 94.91%);
    }
    .illustration{
      @include media-breakpoint-down(md){
        max-width: 215px;
      }
    }
  }
  &.pink{
    background: #C640CD;
    .card3d-content{
      background: linear-gradient(212.86deg, rgba(242, 99, 146, 0.7) 6.22%, rgba(218, 78, 224, 0.96) 94.91%);
    }
    .illustration{
      @include media-breakpoint-down(md){
        max-width: 185px;
      }
    }
  }

  .card3d-content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;
    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      gap: 0px;
    }
    @include media-breakpoint-down(xs) {
      grid-template-columns: 1fr 209px;
      gap: 11px;
    }
  }

  .illustration{
    display: flex;
    @include media-breakpoint-down(md){
      justify-self: center;
    }
    @include media-breakpoint-down(xs){
      justify-self: flex-end;
      padding-left: 10px;
    }
    img{
      width:100%;
      @include media-breakpoint-down(xs){
        width:auto;
      }
    }
    @include media-breakpoint-down(xs){
      img[alt="Openings"]{
        height: 167px;
      }
      img[alt="Professionals"]{
        height: 148px;
      }
    }
    @include media-breakpoint-down(xxs){
      img[alt="Openings"]{
        height: 120px;
      }
      img[alt="Professionals"]{
        height: 108px;
      }
    }
  }

  .info{
    // padding:70px 57px 50px 0;
    padding-right: 18%;
    padding-left: 0px;
    @include media-breakpoint-down(md) {
      align-self: flex-end;
      // padding:10px 40px 40px 40px;
      padding-top: 10px;
      padding-right: 40px;
      padding-bottom: 40px;
      padding-left: 40px;
    }
    @include media-breakpoint-down(xs) {    
      padding-top: 0px;
      padding-bottom: 0px;
      align-self: center;
      padding-right: 20px;
      padding-left: 11px;
    }
    .title{
      color: #FFFFFF;
      margin-bottom: 12px;
      @include media-breakpoint-down(xs) {    
        margin-bottom: 8px;
      }
    }
    .description{
      color: #FFFFFF;
      margin-bottom: 23px;
      @include media-breakpoint-down(xs) {    
        margin-bottom: 11px;
      }
    }
    .link{
      color: #FFFFFF;
      display: flex;
      align-items: center;
      span{
        margin-right: 9px;
      }
      
    }
  }
}