@import '../../../assets/scss/utils/Consts.scss';

.filter-container{
  .title{
    color: $color-grey-400;
    margin-top: 0px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
  .filter-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8px;
    .button{
      min-width: unset;
      padding: 5px 16px;
      border-radius: 16px;
      overflow: hidden;
      &.secondary{
        color: $color-grey-500;
        background-color: $color-white;
      }
    }
  }
}