@import '../../../assets/scss/utils/Consts.scss';

.button.tag{
  font-family: $font-text;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: $color-grey-500;
  display: inline-block;
  min-width: unset;
  padding: 5px 16px;
  background-color: $color-grey-300;
  border-radius: 16px;
  overflow: hidden;
  text-transform: uppercase;
}