@import '../utils/Consts.scss';
@import '../utils/Mixins.scss';

@mixin label() {
  label{
    font-family: $font-text;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: $color-grey-700;
    text-transform: uppercase;
    padding-left: 25px;
    &::before{
      border-color: rgba(0, 0, 0, 0.2) !important;
      border-radius: 5px;
    }
    &::after{
      color: $color-primary !important;
    }
  }
}

.custom-form{
  padding-bottom: 227px;
  .label-required{
    color: $color-primary;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 33px;
  }
  .container{
    @include media-breakpoint-down(md){
      padding-left: 56px;
      padding-right: 56px;
    }
    @include media-breakpoint-down(xs){
      padding-left: unset;
      padding-right: unset;
    }
  }
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    column-gap: 72px;
    @include media-breakpoint-down(md){
      grid-template-columns: 1fr;
    }
    .col{
      display: flex;
      flex-direction: column;
      row-gap: 52px;
      @include media-breakpoint-down(md){
        row-gap: 48px;
      }
      .checkbox-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 16px;
        > div{
          display: flex;
          flex-direction: column;
          flex: auto;
          gap: 20px;
          &:first-child{
            max-width: 192px;
            @include media-breakpoint-down(md){
              max-width: 152px;
            }
          }
        }
        @include label()
      }
      .checkbox-inline{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;
        column-gap: 24px;
        @include media-breakpoint-down(md){
          margin-top: 20px;
          column-gap: 28px;
          row-gap: 20px;
        }
        @include label();
        .radio label{
          &::before{
            border-radius: 100%;
          }
          &::after{
            background-color: #FF2D55 !important;
          }
        }
      }
      .salary{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 16px;
        > div{
          margin-right: 32px;
          @include media-breakpoint-down(md){
            margin-right: 23px;
            &:nth-child(2){
              margin-right: 92px;
            }
            &:nth-child(3){
              margin-right: 31px;
            }
          }
          @include media-breakpoint-down(xs){
            &:nth-child(2){
              margin-right: 24px;
            }
          }
        }
        .form-field{
          max-width: 96px;
          @include media-breakpoint-down(md){
            max-width: 72px;
          }
        }
      }
      .start-date{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 16px;
        > div{
          margin-right: 36px;
        }
      }
      .dropdown{
        margin-bottom: 12px;
        > .text{
          color: $color-grey-700;
          font-family: $font-text;
          font-size: 0.8125rem;
          font-weight: 600;
          line-height: 1.125rem;
          text-transform: uppercase;
        }
        > .icon{
          color: $color-grey-700;
          margin-left: 7px;
        }
        .menu{
          padding: 12px 0;
          margin-top: 8px;
          .item{
            padding: 12px 32px;
            @include media-breakpoint-down(xs){
              min-width: 180px;
            }
          }
        }
      }
      .upload-box{
        > label{
          margin-bottom: 12px;
        }
        .recomended{
          color: $color-grey-400;
          margin-bottom: 24px;
        }
        .file{
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .btn-upload{
          @include media-breakpoint-down(md){
            padding: 14px 45px;
          }
        }
      }
    }
  }
  .actions{
    display: flex;
    margin-top: 77px;
    @include media-breakpoint-down(md){
      flex-direction: column;
      justify-content: center;
      margin-top: 64px;
    }
    @include media-breakpoint-down(xs){
      margin-top: 60px;
    }
    .button{
      &.primary{
        margin-right: 12px;
        @include media-breakpoint-down(md){
          margin-bottom: 20px;
        }
      }
      @include media-breakpoint-down(md){
        width: 100%;
        max-width: 343px;
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }
  }
}
.review-modal{
  .single{
    @include media-breakpoint-down(md){
      gap: 0;
    }
    .bio{
      .more-info{
        @include media-breakpoint-down(md){
          row-gap: 32px;
          grid-template-columns: 1fr !important;
          margin-bottom: 0;
          :last-child{
            p{
              margin-bottom: 0;
            }
          }
        }
        @include media-breakpoint-down(md){
          row-gap: 24px;
        }
      }
    }
    .divider{
      @include media-breakpoint-down(md){
        margin-top: 28px;
        margin-bottom: 28px;
      }
      @include media-breakpoint-down(sm){
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}