@import '../utils/Consts.scss';

// Use BODY to override defualt style

body{
  @media only screen and (min-width: 1200px){
    .ui.container{
      width: 1120px;
    }
  }
  @media only screen and (min-width: 1440px){
    .ui.container{
      width: 1348px;
    }
  }
  .ui.button{
    font-family: $font-text !important;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 14px 36px;
    &.secondary{
      color: $color-grey-600;
    }
  }
  .ui.checkbox{
    min-height: 16px;
    line-height: 16px;
    min-width: 16px;
    label{
      color: $color-grey-700;
      font-size: 0.81rem;
      font-weight: 400;
      line-height: 1.125rem;
      text-transform: uppercase;
      padding-left: 23px;
      &::before{
        width: 16px;
        height: 16px;
        border-radius: 5px;
        border-color: rgba(0, 0, 0, 0.2) !important;
      }
      &::after{
        font-size: 12px;
      }
    }
    input:checked~label:after {
      color: $color-primary !important;
    }
    input[type=checkbox]{
      width: 16px;
      height: 16px;
    }
  }
  .dropdown{
    .menu{
      max-height: 300px;
      overflow-y: overlay;
    }
  }
}
