@import "../../../assets/scss/utils/Mixins.scss";
@import "../../../assets/scss/utils/Consts.scss";
@import "../../../assets/scss/base/reset.scss";

.gridContent {
  width: 100%;
  height: 452px;
  background: $color-grey-300;
  margin-bottom: 32px;
  @include media-breakpoint-down(xs) {
    height: 748px;
  }
  .heroContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      justify-content: space-between;
    }
    @include media-breakpoint-down(xs) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      padding: 3px;
      @include media-breakpoint-down(md) {
        width: 320px;
      }
      @include media-breakpoint-down(xs) {
        margin-top: 28px;
        width: 80%;

      }
    }
    .info {
      margin-top: 92px;
      font-weight: 400px;
      @include media-breakpoint-down(md) {
        margin: auto;
      }
      @include media-breakpoint-down(xs) {
        margin: 20px 20px 20px 20px;
      }
      .title {
        margin: 20px 0px 27px 0px;
        // margin-bottom: 20px;
        font-size: 40px;
        line-height: 48px;
        @include media-breakpoint-down(xs) {
          font-size: 34px;
          line-height: 42px;
        }
      }
      .description {
        font-size: 21px;
        line-height: 30px;
        @include media-breakpoint-down(xs) {
          font-size: 17px;
          line-height: 26px;
        }
      }
    }
  }
}
