@import '../../assets/scss/utils/Consts.scss';
@import '../../assets/scss/utils/Mixins.scss';

.home-hero{
  margin-bottom: calc(606px / 2);
  @include media-breakpoint-down(xxl) {
    margin-bottom: calc(394px / 2);
  }
  @include media-breakpoint-down(md) {
    margin-bottom: calc(56px / 2);
  }
  .hero-top{
    max-width:696px;
    padding: 72px 0 80px;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(md) {
      padding: 48px 0;
    }
    @include media-breakpoint-down(xs) {
      max-width: 480px;
      margin: 0 auto;
      padding: 8px 0 24px;
    }
    .title{
      color: $color-grey-700;
      margin-bottom: 24px;
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(xs) {
        margin-bottom: 16px;
      }
    }
    .description{
      color: $color-grey-400;
      margin-top: 0;
    }
  }
}

.cards3d{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
  }
}

#featured-jobs{
  margin-bottom: calc(659px / 2);
  @include media-breakpoint-down(xxl){
    margin-bottom: calc(545px / 2);
  }
  @include media-breakpoint-down(md){
    margin-bottom: calc(74px / 2);
  }
}
#featured-professionals{
  margin-bottom: calc(634px / 2);
  @include media-breakpoint-down(xxl){
    margin-bottom: calc(534px / 2);
  }
  @include media-breakpoint-down(md){
    margin-bottom: calc(74px / 2);
  }
}
#subscription-box{
  margin-bottom: calc(300px / 2);
  @include media-breakpoint-down(xxl){
    margin-bottom: calc(270px / 2);
  }
  @include media-breakpoint-down(md){
    margin-bottom: calc(200px / 2);
  }
  @include media-breakpoint-down(xs){
    margin-bottom: calc(120px / 2);
  }

}