@import '../../../assets/scss/utils/Consts.scss';

.filter-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 16px;
  .button{
    min-width: unset;
    padding: 5px 16px;
    border-radius: 16px;
    overflow: hidden;
    &.secondary{
      color: $color-grey-500;
      background-color: $color-white;
    }
  }
}