@import '../../../assets/scss/utils/Consts.scss';
@import '../../../assets/scss/utils/Mixins.scss';

.heroContent{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap:30px;
  margin-bottom: 120px;
  @include media-breakpoint-down(md) {
    min-height: 0px;
    grid-template-columns: 1fr;
    gap:0px;
    padding: 0 64px 0 64px;
    margin-bottom: 90px
  }
  @include media-breakpoint-down(xs) {    
    padding: 0 0 0 0;
    margin-top: 10px;
  }
  

  .illustration{
    text-align: center;

    @include media-breakpoint-down(md) {    
      padding-top:42px;
    }

      img{
        height: 341px;

        @include media-breakpoint-down(md) {    
          height: 450px; 
        }
        @include media-breakpoint-down(xs) {    
          height: auto;
          width: 65%;
        }
      }
  }

  .info{
    align-items: center;
    margin-top: 85px;
    @include media-breakpoint-down(md) {
      margin-top: 26px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }
      .title{
        margin-bottom: 20px;
        @include media-breakpoint-down(xs) {    
          margin-bottom: 16px;
        }
      }
      .description{
        margin-bottom: 32px;
        color: $color-grey-400;
      @include media-breakpoint-down(md){
        margin-bottom: 28px;
      }
      @include media-breakpoint-down(xs) {    
        margin-bottom: 24px;
      }
    }
    
  }
}