// Breackpoint
$breakpoint-xs: 639px;
$breakpoint-sm: 768px; // not use
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px; // not use
$breakpoint-xl: 1440px; // not use
$breakpoint-xxl: 1679px;

@mixin media-breakpoint-down($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  }
  @else if $media == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == md {
    @media (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == xl {
    @media (max-width: $breakpoint-xl) { @content; }
  }
  @else if $media == xxl {
    @media (max-width: $breakpoint-xxl) { @content; }
  }
}