@import '../../../assets/scss/utils/Mixins.scss';

.subscription-box{

  min-height: 402px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 8px;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    min-height: unset;
    grid-template-columns: 1fr;  
    margin-left: 56px;
    margin-right: 56px;
  }
  @include media-breakpoint-down(xs) {
    margin-left: unset;
    margin-right: unset;
  }

  .illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #AEF3E5 0%, #54D8BD 99.99%, #54D8BD 100%);
    overflow: hidden;
    img{
      width: auto;
      height: 401px;
      @include media-breakpoint-down(md) {
        max-width: 540px;
        width: 100%;
        padding: 0;
      }
      @include media-breakpoint-down(xs) {
        max-width: 414px;
        height: auto;
      }
    }
  }

  .info{

    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background: #F3F2F5;
    @include media-breakpoint-down(md) {
      padding: 61px 24px 32px;
      .info-cont{
        width: 100%;
      }
    }
    @include media-breakpoint-down(xs) {
      padding: 32px 20px;
    }
    .heading-s{
      margin-top: 12px;
      margin-bottom: 28px;
      @include media-breakpoint-down(md) {
        margin-bottom:12px;
      }
    }
    .body-xl{
      color: #736E7D;
      margin-bottom: 28px;
      @include media-breakpoint-down(md) {
        margin-bottom: 24px;
      }
    }
  }

  .form{

    position: relative;
    max-width: 670px;
    width: 100%;

    .primary.button{
      position: absolute;
      right: 0;
      top: 0;
    }

    .field{
      width: calc(100% - 176px);
      max-width: 391px;
      input{
        width: 100%;
        border: 0px;
        height: 52px;
        background: #FFFFFF;
        color: #736E7D;
        border-radius: 6px;
        &::placeholder {
          color: #736E7D;
        }
      }
    }

    @include media-breakpoint-down(md) {

      max-width: 100%;
      width: 100%;

      .field{
        max-width: 100%;
        width:100%;
        margin-bottom: 20px;
      }

      .primary.button{
        position:static;
        width:100%
      }

    }
  }

  //SUBSCRIPTION SUCCESS STATE
  &.subscription-success{
    
    .illustration{
      background: #FFBC5B;
    }

    .info{
      @include media-breakpoint-down(xs) {
        padding: 55px 20px 65px;
      }
      .body-xl{
        margin-bottom:0px !important;
      }
    }

  }
  

}
