@import '../../../assets/scss/utils/Mixins.scss';
@import '../../../assets/scss/utils/Consts.scss';

.dcl.tabs{
  margin-top: 17px;
  @include media-breakpoint-down(md){
    padding-right: 16px;
    padding-left: 16px;
  }
  @include media-breakpoint-down(xs){
    padding-left: 0px;
  }
  .tab-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(sm){
      align-items: flex-start;
    }
    .tabs{
      .tab{
        font-weight: 600;
        margin-right: 40px;
        @include media-breakpoint-down(sm){
          line-height: 1.5rem;
          margin-bottom: 16px;
        }
      }
      a div{
        &.active{
          color: $color-grey-700;
        }
        &:not(.active){
          color: $color-grey-400;
        }
      }
    }
    .action{
      button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 13px;
      }
      &.professionals{
        @include media-breakpoint-down(sm){
          margin-top: 37px;
        }
      }
    }
  }
}